<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}

    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-7 col-xl-8 order-lg-2 text-white showcase-img" style="background-image: url('../static/assets/img/ex1.png');"><span></span></div>
                <div class="col-lg-5 col-xl-4 my-auto order-lg-1 showcase-text">
                    <h2>Example 1&nbsp;</h2>
                    <p class="lead mb-0">SAT test 2</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-7 col-xl-8 order-lg-2 text-white showcase-img" style="background-image: url('../static/assets/img/ex1.png');"><span></span></div>
                <div class="col-lg-5 col-xl-4 my-auto order-lg-1 showcase-text">
                    <h2>Example 2&nbsp;</h2>
                    <p class="lead mb-0">SAT test 2&nbsp;</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-7 col-xl-8 order-lg-2 text-white showcase-img" style="background-image: url(&quot;../static/assets/img/ex1.png&quot;);"><span></span></div>
                <div class="col-lg-5 col-xl-4 my-auto order-lg-1 showcase-text">
                    <h2>Example 3&nbsp;</h2>
                    <p class="lead mb-0">SAT test 3<br></p>
                </div>
            </div>
        </div>
    </section>
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"></h2>
                <p class="text-center">Were the examples helpful?</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Yes&nbsp;</a><button class="btn btn-light" type="button">No</button></div>
        </div>
    </div>


{% endblock %}