{% extends "layout.html" %}
{% block content %}

<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h3 class="text-center" style="margin-top: 3%;font-family: Montserrat;color: rgb(0,0,0);font-size: 27px;/*background: rgba(23,23,2,0.1);*/">Examples of Math Question Answering</h3>
                </div>
                <div class="text" style="font-family: Montserrat;">
                    <h2 style="font-family: Montserrat;text-align: center;font-size: 26px;">Page 1: Inserting the equation&nbsp;</h2>
                    <figure><img class="figure-img" src="../static/assets/img/question_before.png"></figure>
                    <p>Welcome page with filled quesiton and choices.</p>
                </div>
                <div class="text">
                    <h2 style="font-family: Montserrat;text-align: center;font-size: 26px;">Page 2: Checking the results&nbsp;</h2>
                    <figure><img class="figure-img" src="../static/assets/img/question_after.png"></figure>
                    <p style="font-family: Montserrat;"> Result page - plot presents chance of correctness of all the provided answers.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/assets/js/Animated-Typing-With-Blinking.js"></script>
   

{% endblock %}