<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}

    <header class="masthead text-white text-center" style="background: url('../static/assets/img/mgr-panel.jpg')center center;background-size: cover;width: auto;padding-bottom: 15%;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Math SAT question solver</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form method="POST" action="/loading_answer" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><textarea name='question_field' class="form-control form-control-lg" rows="5" placeholder="Enter the text of the task"></textarea></div>
                            <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">Calculate</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"></h2>
                <p class="text-center">Was the tool helpful?</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Yes&nbsp;</a><button class="btn btn-light" type="button">No</button></div>
        </div>
    </div>
   
 {% endblock %}