<!DOCTYPE html>

{% extends "layout-without-footer.html" %}
{% block content %}
  <div style="margin-top: 10%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="w-100 p-5">
                        <div data-bs-hover-animate="pulse" class="wave-circle mx-auto my-5">
                            <div class="wave-effect"><span></span></div>
                        </div>
                        <div class="text-nowrap d-flex justify-content-center align-items-center animated-text noSelect" style="background: rgba(255,255,255,0);border-style: none;margin-top: 16px;width: 50%;margin-right: auto;margin-left: auto;"></div>
                    </div>
                </div>
                <div class="col-md-6 text-center d-xl-flex justify-content-xl-center align-items-xl-center"><div class="caption v-middle text-center">
    <h1 class="cd-headline clip">
        <span class="blc"></span>
        <span class="cd-words-wrapper">
          <b class="is-visible">Loading</b>
        </span>
        <span class="blinking">...</span>
    </h1>
</div></div>
            </div>
        </div>
    </div>
    

{% endblock %}