<!DOCTYPE html>

{% extends "layout-without-footer.html" %}
{% block content %}

<body>
   
    <div class="container text-center d-xl-flex justify-content-xl-start" style="margin-top: 10%;text-align: left;">
        <h1 class="d-xl-flex justify-content-xl-center" style="font-family: Montserrat;font-size: 32px;">Calculation Finished!</h1>
    </div>
    <div class="container">
        <div class="row d-xl-flex justify-content-xl-center" style="margin-top: 10%;">
            <div class="col-md-6">
                <h1 style="font-family: Montserrat;">Question:</h1>
                <p style="font-family: Montserrat;">Paragraph</p>
            </div>
            <div class="col-md-6">
                <h1 style="font-family: Montserrat;">Answer:</h1>
                <p style="font-family: Montserrat;">Not Found</p>
            </div>
        </div>
    </div>

    <div class="container text-center" style="margin-top: 10%;"><a class="btn btn-primary btn-lg ml-auto" role="button" href={{ url_for('index') }} style="font-family: Montserrat;">Back to the main menu</a></div>

{% endblock %}